<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd "__INSTALL_DIR__" &amp;&amp; export PATH="__PATH_ENV__" &amp;&amp; exec bun run start start -a "$COPILOT_ACCOUNT_TYPE"</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>COPILOT_ACCOUNT_TYPE</key>
        <string>__ACCOUNT_TYPE__</string>
        <key>COPILOT_INSTALL_DIR</key>
        <string>__INSTALL_DIR__</string>
        <key>PATH</key>
        <string>__PATH_ENV__</string>
    </dict>

    <key>WorkingDirectory</key>
    <string>__INSTALL_DIR__</string>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__LOG_OUT__</string>

    <key>StandardErrorPath</key>
    <string>__LOG_ERR__</string>
</dict>
</plist>
